<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=title%></title>
  <meta name="keywords" content="博客视界-blog-world,博客世界,博客,视界,世界,个人博客,技术分享,博客分享" />
  <meta name="description" content="博客视界-blog-world致力于打造简介，大方的博客空间，在这里可以随时记录生活琐事，技术心得等等。" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/public/css/base.css">
  <script type="text/javascript" src="/public/js/jquery.min.js"></script>
  <script type="text/javascript" src="/public/js/public.js"></script>
  <script>
        window['adaptive'].desinWidth = 1280;
        window['adaptive'].baseFont = 28;
        window['adaptive'].maxWidth = 1920;
        window['adaptive'].init();
    </script>
</head>
<body>
  <div class="Frank">
    <% include common/header/index.ejs %>
    <% include article/article.ejs %>
    <% include common/footer/index.ejs %>
  </div>
  <script type="text/javascript" src="/views/default/article/js/article.js"></script>
</body>
</html>
