<div class="footer">
    <p>
        <a href="#">HOME</a>
        <a href="#">BLOGLIST</a>
        <a href="#">ABOUT ME</a>
    </p>
    <p>Copyright © 2017 Frank Dai</p>
</div>

<script>
 
</script>
<style>
   .footer{
       width: 1000px;
       margin: 0 auto;
       text-align: center;
       border-top: 1px solid #dcdcdc;
       padding: 47px 0 36px 0;
       color:#999999;
   }
   .footer p{
       margin-bottom: 30px;
       font-size:14px;
   }
   .footer p a{
       color:#999999;
       margin: 0 32.5px;
   }
</style>