<div class="header">
    <div class="index-url">
        <span>APARESSE.COM</span>
    </div>
    <div class="index-menu">
        <a href="#">ABOUT ME</a>
        <a href="#">BLOGIST</a>
        <a href="#">HOME</a>
    </div>
</div>

<script>
 
</script>
<style>
    body{
        background:#f8f8f8;
    }
    .header{
        width: 100%;
        min-width: 1280px;
        padding: .4rem 0 0 .5rem;
        color:#3d4254;
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10;
        background: #f8f8f8;
        box-sizing: border-box;
        transform: translateY(0);
        transition: all .5s ease-out;
    }
    .reg .header{
        padding: .4rem 0 .1rem .5rem;
        background: #fff;
    }
    .header > div {
        float: left;
    }
    .header .index-url{
    }
    .header .index-url span{
        line-height: .17rem;
        font-size:.16rem;
        display: block;
        font-weight: bold;
    }
    .header .index-menu{
        float: right;
        margin-right: .5rem;
    }
    .header .index-menu a{
        color:#3d4254;
        display: block;
        float: right;
        margin-left: .65rem;
        padding-top: .02rem;
        font-size: .14rem;
        line-height: .16rem;
    }
    .header .index-menu a:hover{
        color: #8791b3;
    }
</style>